.container1 {
    display: flex;
    border: 2px solid black;
    justify-content: center;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
}

.container2 {
    display: flex;
    border: 2px solid black;
    flex-direction: row-reverse;
    /* flex-direction: row; */
    /* flex-direction: column; */
}

.container3 {
    display: flex;
    border: 2px solid black;
    /* align-items: flex-end;
    align-items: flex-start; */
    align-items: baseline;
    /* align-items: stretch; */
}

.container4 {
    display: flex;
    border: 2px solid black;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
}

.container5 {
    display: flex;
    border: 2px solid black;
}

.one {
    order: -1;
}

/* or */

.container5 div:nth-child(2) {
    order: -4;
}

.container6 {
    display: flex;
    width: 1000px;
    border: 2px solid black;
}

.container6 div {
    flex-grow: 1;
}

.container6 div:nth-child(2) {
    flex-grow: 2;
    ;
}